<div class="header">
    <div class="branding">
        <a href="{{ '/' | relative_url }}"><img src="{{ '/media/umich-coe3.png' | relative_url }}" alt="University of Michigan, College of Engineering"></a>
    </div>
    <div class="nav-links">
        <div class="dropdown"><button onclick="window.location.href='{{ '/syllabus' | relative_url }}'">Syllabus</button></div>
        <div class="dropdown"><button onclick="window.location.href='{{ '/labs/' | relative_url }}'">Labs</button></div>
        <div class="dropdown"><button onclick="window.location.href='{{ '/project/project' | relative_url }}'">Project</button></div>
        <div class="dropdown"><button onclick="window.location.href='{{ '/staff' | relative_url }}'">Staff</button></div>
        <div class="dropdown"><button onclick="window.location.href='{{ '/facilities' | relative_url }}'">Facilities</button></div>
    </div>
</div>
